[submodule "rdgen"]
	path = rdgen
	url = git@github.com:proebsting/rdgen.git
[submodule "testerator"]
	path = testerator
	url = git@github.com:proebsting/testerator.git
[submodule "vm"]
	path = vm
	url = git@github.com:proebsting/vm.git
[submodule "tau"]
	path = tau
	url = git@github.com:CSC453/tau.git
